
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Test</h2>
<br />
<h1 style="color:#ff0000">
    Seleme Nebere
</h1>
<a href="/Home/Test2"class="btn btn-success">Test 2 ye git</a>
